/* Background */
#background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-background-style: cover;
  -moz-background-style: cover;
  -o-background-size: cover;
  background-style: cover;
}
/* Quote Idea */
blockquote {
  display: grid;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}
/* Container for above text */
.container {
  position: relative;
  text-align: center;
  color: white;
}
/* Center Text */
.title {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 250%);
}
/* Links */
.links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 1050%);
}
/* Quote */
.quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 1814%);
}
/* Font VCR */
@font-face {
  font-family: Perfect;
  src: url('../media/fonts/Perfect DOS VGA 437.ttf');
}
p {
  font-family: Perfect, Fallback, sans-serif;
}
/* Disable visited website link */
a:link, a:visited, a:active {
    text-decoration: none;
    color: white;
}
/* Glow when hover over link */
a:hover {
  text-decoration: none;
  color: #ff0000;
  text-shadow: -1px 1px 2px #ffc, 1px -1px 2px #fff;
  -webkit-transition: 500ms linear 0s;
  -moz-transition: 500ms linear 0s;
  -o-transition: 500ms linear 0s;
  transition: 500ms linear 0s;
  outline: 0 none;
}