body { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:link, a:visited {
  color: pink;
}

a:hover {
  color: red;
}

a:button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

.header img {
  float: right;
  top: 8px;
  right: 16px;
  background: #555;
  display: inline;
}

.header h1 {
  position: relative; 
  top: 1.63in; 
  left: 1.5in;
  float: right;
  display: inline;
}

ul {
  list-style-type: square;
}

.container {
  position: relative;
  color: white;
}