/* Video CSS */
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* Image */
  background-image: url(../../extra/backgrounds/background2.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Info Title */
.info {
	position: fixed;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Redirects Title */
.redirects {
  position: fixed;
  top: 5%;
  left: 40%;
  transform: translate(-50%, -50%);
}
/* Info Links */
.infolinks {
  position: fixed;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
/* Redirect Links */
.redirectlinks {
  position: fixed;
  top: 18%;
  left: 40%;
  transform: translate(-50%, -50%);
} 
/* Text above background CSS */
.container {
  position: relative;
  text-align: center;
  color: white;
}
/* Center text CSS */
div.a {
	text-align: center;
}
/* Disable visited website link CSS */
a:link, a:visited, a:active {
    text-decoration: none;
    color: white;
}

a:hover {
  text-decoration: none;
  color: red;
}