/* Video CSS */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-background-style: cover;
  -moz-background-style: cover;
  -o-background-size: cover;
  background-style: cover;
}
/* Text above background CSS */
.container {
  position: absolute;
  text-align: center;
  color: white;
}
/* Other Pages Title */
.otherpages {
  position: fixed;
  top: 5%;
  left: 59%;
  transform: translate(-50%, -50%);
}
/* Info Title */
.info {
	position: fixed;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Redirects Title */
.redirects {
  position: fixed;
  top: 5%;
  left: 40%;
  transform: translate(-50%, -50%);
}
/* Other Pages Links */
.otherpageslinks {
  position: fixed;
  top: 11%;
  left: 59%;
  transform: translate(-50%, -50%);
}
/* Info Links */
.infolinks {
  position: fixed;
  top: 14.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Redirect Links */
.redirectlinks {
  position: fixed;
  top: 13%;
  left: 40%;
  transform: translate(-50%, -50%);
}

/* Center text CSS */
div.a {
	text-align: center;
}
/* Disable visited website link CSS */
a:link, a:visited, a:active {
    text-decoration: none;
    color: white;
}
/* Hover Effect */
a:hover {
  text-decoration: none;
  color: red;
}
