body {
	background: url(../images/background.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a:link, a:visited {
	color: pink;
}

a:hover {
	color: red;
}

ul {
	list-style-type: square;
}

.container {
	position: relative;
	color: white;
}